.container
  = form_tag activate_process_points_path, html: {class: 'form-horizontal'} do
    = text_field_tag :code, '', placeholder: t(:barman_key), class: 'form-control'
    %br
    = submit_tag t(:activate), class: 'btn btn-default common-button'