.container
  = form_tag point_path(@point), method: 'patch', html: {class: 'form-horizontal'} do
    = text_field_tag :name, @point.title, placeholder: t(:point_name), maxlength: '20', class: 'form-control'
    %br
    = submit_tag t(:update_point), class: 'btn btn-default common-button'