.container
  - @admin_points.each do |point|
    = link_to point.title, point_path(point), class: 'item-light'

  - @barman_points.each do |point|
    = link_to point.title, point_path(point), class: 'item-middle'