#root
%input#point{value: params[:point_id], style: "display: none"}
%input#sum_orders{value: @sum_orders, style: "display: none"}
%input#statistics{value: sales_point_orders_path(@point), style: "display: none"}