version: "2"

volumes:
  db-data:
    external: false

services:
  db:
    image: postgres
    env_file: .env
    volumes:
      - db-data:/var/lib/postgresql/db-data
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file: .env
    environment:
      RAILS_ENV: production
    ports:
      - "3001:3001"
    depends_on:
      - db
    restart: unless-stopped