.container

  = link_to t(:add_barman), new_point_barman_path(@current_point), class: 'item-light'

  %br

  - @barmans.each do |barman|
    =link_to barman.email, point_barman_path(@current_point, barman), class: 'item-middle'