.container
  .info-block.no-padding
    = t :send_key_to_barman
  .info-block-min
    = t :barman_have_to_activate_key_in_sales_point

  = text_field_tag :barman_code, @barman_link, class: 'form-control text-c'
  %br
  = link_to t('copy_to_clipboard'), '', id: 'copyBlock', class: 'item-middle'

:javascript
  var textarea = document.getElementById("barman_code");
  var copy = document.getElementById("copyBlock");
  copy.addEventListener('click', function(e) {
    e.preventDefault();
    textarea.select();
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
  });