@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'
@import coffee_shop

$input-color-placeholder: $light-sky-color
$input-color: $sky-color
$font-family-base: 'Open Sans Condensed', sans-serif

@import bootstrap
@import 'bootstrap/glyphicons'
@import modal_confirm
@import orders
@import calendars
@import homes
@import devise
@import points
@import products

body
  background-color: $yellow-color

.navbar
  background-color: $sky-color
  margin-bottom: 3rem
  border-radius: 0rem

  .navbar-logo
    color: $white
    display: flex
    justify-content: space-between
    align-items: center

    .glyphicon-arrow-left
      font-size: 2rem
      line-height: 0

    .logo-links
      display: flex

    #{$a-tags}
      color: $white
      text-decoration: none

    #{$a-tags-hover}
      color: $white

  .navbar-logo-unauth
    @extend .navbar-logo
    justify-content: center

.alert-success
  text-align: center
  background-color: $white
  border-color: $white
  color: $sky-color
  font-size: 1.2rem

.alert-danger
  text-align: center
  background-color: $bloody-color
  border-color: $bloody-color
  color: $white
  font-size: 1.2rem

.pagination
  display: flex
  width: 100%
  justify-content: center

  .page-link
    color: $sky-color

    &:link
      text-decoration: none

    &:hover
      text-decoration: none

    &:active
      text-decoration: none

    &:visited
      text-decoration: none

  .active

    .page-link
      background-color: $sky-color
      border-color: $sky-color

      &:link
        color: $white
        text-decoration: none
        border-color: $sky-color

      &:hover
        background-color: $ghost-sky-color
        color: $white
        text-decoration: none
        border-color: $sky-color

      &:active
        color: $white
        text-decoration: none
        border-color: $sky-color

      &:visited
        color: $white
        border-color: $sky-color