@import bootstrap
@import orders
@import calendars
@import coffee_shop

body
  background-color: #EFDC05

.navbar
  border-radius: 0rem

nav
  background-color: #30A9DE
  margin-bottom: 3rem

  .navbar-logo
    color: white
    display: flex
    justify-content: center

    #{$a-tags}
      color: white
      text-decoration: none

    #{$a-tags-hover}
      color: white