@import coffee_shop

.cards
  display: flex
  flex-flow: row wrap
  justify-content: flex-start

  .coffee-card
    background-color: $sky-color
    color: $white
    margin: 2px
    padding: 1rem 1rem 1.5rem 1rem
    margin-bottom: 1rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border-radius: 0.5rem

    .user
      font-size: 0.8rem

    .revenue
      font-size: 1.4rem

    .datetime
      font-size: 0.8rem

    .hours
      font-size: 1.2rem

    &:link
      color: $white
      text-decoration: none

    &:hover
      background-color: $ghost-sky-color
      color: $white
      text-decoration: none

    &:active
      color: $white
      text-decoration: none

    &:visited
      color: $white
      text-decoration: none

  .coffee-card:hover
    background-color: $ghost-sky-color

.day-sale

  .multiply-item
    margin-bottom: 10px
    background-color: $sky-color
    padding: 10px 10px
    color: $white
    font-weight: bold

    .data
      display: flex

      .time
        margin-right: 2rem
      
  .single-item
    @extend .multiply-item
    background-color: $white
    color: $sky-color

  .check
    display: flex
    justify-content: center
    margin-bottom: 10px
    background-color: $black
    padding: 10px 10px
    color: $white
    font-weight: bold
    margin-bottom: 2rem

    .time
      margin-right: 2rem