@import coffee_shop

.simple-calendar

  .calendar-heading
    padding: 0 0 2rem 0
    text-align: center
    font-size: 2rem
    color: white

    #{$a-tags}
      color: $sky_color
      text-decoration: none

    #{$a-tags-hover}
      color: $sky_color

  .calendar-dates

    .calendar-date

      .date-title
        font-size: 1.5rem
        padding: 0.5rem
        background-color: $bloody-color
        margin-bottom: 1rem
        text-align: center
        color: white

      .item
        display: flex
        justify-content: space-between
        margin-bottom: 10px
        background-color: $sky_color
        padding: 10px 10px
        color: white
        font-weight: bold

        .data
          display: flex

          .time
            margin-right: 2rem

      .check

        .time
          margin-right: 2rem

      .check
        display: flex
        justify-content: center
        margin-bottom: 10px
        background-color: black
        padding: 10px 10px
        color: white
        font-weight: bold
        margin-bottom: 2rem