@import coffee_shop

.simple-calendar

  .calendar-heading
    padding: 0 0 2rem 0
    text-align: center
    font-size: 2rem
    color: white

    #{$a-tags}
      color: white
      text-decoration: none

    #{$a-tags-hover}
      color: white

  .calendar-dates

    .calendar-date

      #{$a-tags}
        color: $sky_color
        text-decoration: none

      #{$a-tags-hover}
        color: $sky_color

      .date-title
        font-size: 1.5rem
        padding: 0.5rem
        background-color: $sky_color
        margin-bottom: 1rem
        text-align: center
        color: white

      .wday-0
        .date-title
          background-color: white
          color: $sky_color
      .wday-6
        @extend .wday-0
      .today
        .date-title
          background-color: $bloody-color
          color: white

  .item
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    background-color: $sky_color
    padding: 10px 10px
    color: white
    font-weight: bold

    .data
      display: flex

      .time
        margin-right: 2rem
      
  .single-item
    @extend .item
    background-color: white
    color: $sky_color

  .check

    .time
      margin-right: 2rem

  .check
    display: flex
    justify-content: center
    margin-bottom: 10px
    background-color: black
    padding: 10px 10px
    color: white
    font-weight: bold
    margin-bottom: 2rem