$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a:active, a:hover'

$sky-color: #30A9DE
$ghost-sky-color: #32baf1
$bloody-color: #E53A40
$ghost-bloody-color: #f93b41
$yellow-color: #EFDC05
$black: black
$white: white

.common-item
  display: flex
  justify-content: center
  margin-bottom: 10px
  padding: 10px 10px
  color: $white
  font-size: 1.5rem
  font-weight: bold
  margin-bottom: 1rem