$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a:active, a:hover'

$sky-color: #30A9DE
$ghost-sky-color: #32baf1
$light-sky-color: rgba(50, 200, 255, 0.74)
$bloody-color: #E53A40
$ghost-bloody-color: #f93b41
$yellow-color: #EFDC05
$black: black
$white: white

.common-item
  display: flex
  justify-content: center
  margin-bottom: 10px
  padding: 10px 10px
  color: $white
  font-size: 1.5rem
  font-weight: bold
  margin-bottom: 1rem

.common-button
  width: 100%
  padding: 10px 10px
  color: $white
  background-color: $sky-color
  font-size: 1.5rem
  font-weight: bold
  margin-bottom: 1rem

.common-button:hover
  background-color: $ghost-sky-color

.remove-button
  @extend .common-button
  background-color: $bloody-color

.remove-button:hover
  background-color: $ghost-bloody-color