#modalConfirm

  .modal-header
    border: 0

  .modal-footer
    justify-content: center
    display: flex
    border: 0

    button:first-child
      margin-right: 2.5rem

    #closeModal
      width: 5rem
      padding-right: 0rem
      padding-left: 0rem
      border-radius: 0rem
      color: $white
      background-color: $sky-color
      font-size: 1.2rem

    #confirmAction
      width: 5rem
      padding-right: 0rem
      padding-left: 0rem
      border-radius: 0rem
      color: $white
      background-color: $bloody-color
      font-size: 1.2rem

  .modal-title
    text-align: center