// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-item
  display: flex
  margin-bottom: 10px

.product-item-active
  @extend .product-item
  background-color: #c6a870
  color: white