// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-item
  display: flex
  justify-content: space-between
  margin-bottom: 10px
  background-color: #30A9DE
  padding: 10px 10px
  color: white

  input
    align-self: center
    margin-right: 10px

  .product-data
    display: flex

.product-item-active
  @extend .product-item
  background-color: #E53A40

.btn-primary
  @include button-variant(#fffefd, #30A9DE, #2b82ae)