@import coffee_shop

.point-title
  text-align: center
  color: $white
  margin-left: 1rem
  font-size: 2rem

  #{$a-tags}
    color: $white
    text-decoration: none

  #{$a-tags-hover}
    color: $white

.product
  .product-item
    display: flex
    justify-content: space-between
    background-color: $sky-color
    padding: 10px 10px
    color: $white
    cursor: pointer
    margin-bottom: 10px

    div
      font-size: 1.5rem

  .product-item:hover
    background-color: $ghost-sky-color

  .product-count
    display: flex
    justify-content: center
    align-items: center
    background-color: $black
    color: $white
    margin-bottom: 10px
    padding: 10px 10px

    .counter
      align-items: center
      justify-content: center
      display: flex
      width: 3rem
      height: 3rem
      background-color: $white
      margin: 0 0.5rem
      font-size: 1.5rem
      color: $black

    .add
      font-size: 2rem
      @extend .counter
      cursor: pointer

    .remove
      @extend .add

  .product-item-active
    @extend .product-item
    margin-bottom: 0
    background-color: $danger

  .product-item-active:hover
    background-color: $danger-light

.product:last-child
  margin-bottom: 140px

.btn-primary
  @include button-variant($white, $ghost-bloody-color, $bloody-color)

.footer
  position: fixed
  bottom: 0
  width: 100%
  padding: 1rem 0rem
  background-color: $black

  .elements
    display: flex
    justify-content: center
    color: $white
    font-size: 2rem

  #{$a-tags}
    color: $white
    text-decoration: none

  #{$a-tags-hover}
    color: $white

.footer-red
  @extend .footer
  background-color: $danger
  cursor: pointer

.footer-red:hover
  background-color: $danger-light

  .elements
    @extend .elements