.container
  .products
    = render 'products/form'
    - if @point.product_list.products.count > 1
      = link_to t(:remove_product), point_product_path(@point, @product), class: 'item-heavy', method: :delete, data: {'modal-confirm' => t(:are_you_sure) }