#modalConfirm.modal.fade{:role => "dialog"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %h4.modal-title Подтвердите действие
      .modal-footer
        %button.btn.btn-default#closeModal{'data-dismiss' => 'modal'}= t :close
        %a.btn.btn-default#confirmAction= t :ok