%nav.navbar.navbar-light.navbar-static-top
  .container
    .navbar-logo
      - if current_user.present?
        = link_to( point_path( @current_point ) ) do
          %h1 Coffee Shop
          .point-title
            %h6= @current_point.title
      - else
        = link_to( root_path ) do
          %h1 Coffee Shop