%nav.navbar.navbar-light.navbar-static-top
  .container
    .navbar-logo
      = link_to(point_path( Point.with_role(:admin, current_user).find_by(current: true) )) do
        %h1 Coffee Shop
    - if @point.present?
      .point-title
        - if opened_day_sale?
          = link_to( point_path(@point) ) do
            %h6= @point.title